---
import { Image } from 'astro:assets';
import me from '../assets/images/me.jpeg'
import Layout from "../layouts/Layout.astro";
import ContactLink from "../components/ContactLink.astro";
import SectionHeader from '../components/SectionHeader.astro';
---

<Layout title="contact">
  <main>
    <SectionHeader gradientColour="emerald">👋 Robert Raynsford</SectionHeader>

    <section class="flex flex-col md:flex-row gap-3 text-base font-serif dark:text-zinc-100 text-slate-800">
      <Image
          class="w-48 h-48 md:w-64 md:h-auto rounded-full md:rounded-none object-cover mx-auto md:mx-0"
          src={me}
          title="Robert Raynsford"
          alt="Robert Raynsford"
          loading="eager"/>
      <div class="flex flex-col justify-between">
        <div class="flex flex-col gap-2">
          <p>
            Hello!
            My name is Robert Raynsford and I'm a software engineer from England.
          </p>
          <p>
            This site is a space for me to document my personal projects, share my coding experiences, and discuss what
            I've learned along the way. I find writing helps me organize my thoughts and ingrain knowledge. Who
            knows—perhaps something I share here might help someone else someday!
          </p>
        </div>
        <div class=" flex items-center justify-evenly text-sm md:text-base">
          <ContactLink href="mailto:robert@rrayns.co.uk?Subject=I%20was%20on%20your%20site%20and..." icon="email"
                       text="Email"/>
          <ContactLink href="https://bsky.app/profile/rrayns.co.uk" icon="bluesky" text="Bluesky"/>
          <ContactLink href="https://www.linkedin.com/pub/robert-raynsford/8a/4b2/8ab" icon="linkedin" text="LinkedIn"/>
          <ContactLink href="https://github.com/r-rayns" icon="github" text="GitHub"/>
        </div>
      </div>
    </section>
  </main>
</Layout>
<style></style>
