---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
import SectionHeader from '../components/SectionHeader.astro';
---

<Layout title="links">
  <main>
    <SectionHeader gradientColour="sky">🧑🏻‍💻 Things I've made</SectionHeader>
    <ul class="text-lg list-disc space-y-3 ml-3 md:ml-0 md:pl-8">
      <li>
        <Link href="https://github.com/r-rayns/inky_dash">
          Inky Dash - an interface for an ePaper device <span
            class="align-middle text-xs text-cyan-400 font-mono">[2020/2025]</span>
        </Link>
      </li>
      <li>
        <Link href="https://spookykingdom.co.uk">
          Spooky Kingdom - a spooky news archive <span
            class="align-middle text-xs text-cyan-400 font-mono">[2022/2023]</span>
        </Link>
      </li>
      <li>
        <Link href="https://github.com/voilab/voilab-pdf-table/commit/e958a7a0584585342bb1eac99cb89f88d1fd6485">
          Row shader plugin for Voilab PDF Table <span
            class="align-middle text-xs text-cyan-400 font-mono">[2021]</span>
        </Link>
      </li>
      <li>
        <Link href="https://github.com/r-rayns/spooky_crawler">
          Spooky Crawler - webcrawler <span
            class="align-middle text-xs text-cyan-400 font-mono">[2020]</span>
        </Link>
      </li>
      <li>
        <Link href="https://github.com/r-rayns/decision_tree_js">
          Decision tree algorithm in JavaScript <span
            class="align-middle text-xs text-cyan-400 font-mono">[2020]</span>
        </Link>
      </li>
      <li>
        <Link href="https://github.com/r-rayns/station_epd_watcher/blob/master/history_train.py">
          E-Ink Station Watcher <span
            class="align-middle text-xs text-cyan-400 font-mono">[2019]</span>
        </Link>
      </li>
      <li>
        <Link href="https://github.com/r-rayns/angular-dynamic-form">
          Example Angular dynamic form <span
            class="align-middle text-xs text-cyan-400 font-mono">[2019]</span>
        </Link>
      </li>
      <li>
        <Link href="https://rrayns.co.uk/experiments/street-generator/index.html">
          A random street map generator <span
            class="align-middle text-xs text-cyan-400 font-mono">[2018]</span>
        </Link>
      </li>
      <li>
        <Link href="https://rrayns.co.uk/experiments/zoom-pan/demo.html">
          ZoomPan an AngularJS image pan zoom <span
            class="align-middle text-xs text-cyan-400 font-mono">[2016]</span>
        </Link>
      </li>
    </ul>
    <SectionHeader gradientColour="pink">💞 Things worth sharing</SectionHeader>
    <ul class="text-lg list-disc space-y-3 ml-3 md:ml-0 md:pl-8">
      <li>
        <Link href="https://news.ycombinator.com/">
          Hacker News - A social news website for Comp Sci related topics
        </Link>
      </li>
      <li>
        <Link href="https://www.jwz.org/blog/2016/10/they-live-and-the-secret-history-of-the-mozilla-logo/">
          They Live and the secret history of the mozilla logo
        </Link>
      </li>
      <li>
        <Link href="https://catless.ncl.ac.uk/Risks/">
          The Risks Digest - Monthly digest on cyber security
        </Link>
      </li>
      <li>
        <Link href="https://solar.lowtechmagazine.com/">
          Low Tech Magazine - A solar powered website
        </Link>
      </li>
      <li>
        <Link href="https://fabiensanglard.net/">
          Fabien Sanglard's website - An interesting tech blog
        </Link>
      </li>
      <li>
        <Link href="https://technology.blog.gov.uk/">
          British Government Digital Service (GDS) tech blog
        </Link>
      </li>
      <li>
        <Link href="https://developer.mozilla.org/en-US/">
          MDN Web Docs - Documentation and learning resource for web development
        </Link>
      </li>
      <li>
        <Link href="https://gchq.github.io/CyberChef/">
          GCHQ CyberChef - A great web tool to help manipulate all kinds of data
        </Link>
      </li>
      <li>
        <Link href="https://snyk.io/advisor/">
          Snyk.io Advisor - Brilliant for assessing npm packages before adding them to your project
        </Link>
      </li>
    </ul>
  </main>
</Layout>

<style></style>
