---
interface Props {
  caption: string;
}

const {caption} = Astro.props;
---

<figure class="my-2">
  <slot/>
  <figcaption class="flex w-full justify-end">
    <span class="max-w-80 md:max-w-none text-xs md:text-sm text-slate-500 dark:text-slate-300">
      {caption}
    </span>
  </figcaption>
</figure>
