---
export interface Props {
  href: string;
}

const { href } = Astro.props;

const active: boolean = href === Astro.url.pathname;
---

<a href={href} data-tag="navLink" class="dark:text-cyan-400 text-cyan-800"><slot /></a>
