---
export interface Props {
  href: string;
}

const {href} = Astro.props;

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isBlogPost = subpath?.includes('posts');
const isActive = href === pathname
  || href === '/' + (subpath?.[0] || '')
  || href === '/' && isBlogPost; // underline "Blog" navLink when viewing a blog post
---

<a href={href} class:list={["dark:text-cyan-400 text-cyan-800", {'underline': isActive}]}><slot/></a>
