---
import Link from "./Link.astro";

export interface Props {
  href: string;
}

const { href, title, date } = Astro.props;
---

<div class="flex flex-col">
  <Link href={href} target=""><slot /></Link>
  <span class="text-sm font-mono text-cyan-700 dark:text-cyan-100"><slot  name="date"/></span>
</div>
